.tree-item-options-btn {
	float: right;
}

.bs-categorymanager-tree .oojsplus-data-tree-items .oojs-ui-data-tree-item div {
	clear: both;
	background-color: #f1f3f4;
}

.bs-categorymanager-tree ul:empty {
	margin: 0;
}

.bs-categorymanager-tree .tree-root > li {
	margin: 0.3em 0;
}

.bs-categorymanager-tree .oojsplus-data-tree-expander.oo-ui-buttonElement-frameless.oo-ui-iconElement:first-child {
	margin-left: 0;
}
